* {
	margin:0; /* zerando configurações da página (margem e preenchimento). */
	padding:0;
}
#container {
	margin:50px; /* inserindo margem em volta da página principal */
	
}

#cabecalho {
	text-align:center; /* alinhando a logo do cabeçalho da página. */
	padding-bottom;25px; /* preenchimento embaixo da logo */
}

#menu {
	border:1px solid black; /* inserindo as bordas */
    background-color:black; /* inserindo a cor de fundo no menu */
	border-radius:10px; /* arredondando as bordas do menu */
    height:70px; /* aumentando a altura do menu */
	text-align:center; /* centralizando todo o conteúdo do menu principal */
}

#menu li {
	display:inline; /* formatando os itens do menu em linha horizontal - um do lado do outro */
    list-style-type:none; /* tirando as bolinhas (marcadores) dos itens */
}

#menu a {
	color:white; /* alterando a cor da letra dos hiperlinks */ 
	font-size:25px; /* alterando o tamanho da fonte dos hiperlinks */
	text-decoration:none; /* retirando o sublinhado dos hiperlinks */
    padding:13px 20px; /* engordando o tamanho do hiperlink */
	line-height:70px; /* alinhando verticalmente os hiperlinks (o valor deve ser igual a altura do menu - height) */
	margin:0 50px; /* distanciando um hiperlink do outro */
}

#menu a:hover { /* a tag hover coloca a animação no hiperlink (borda branca) */
	border:2px solid white; /* adicionando uma borda branca nos hiperlinks quando passar o mouse em cima */
	border-radius:10px; /* arredondando as bordas dos hiperlinks */
}

#carroussel {
	
}

#conteudo {
	padding:10px 0px;
	display:grid; /* transformando nossa div de conteúdo em grade */
	grid-template-columns:33.3% 33.3% 33.3%; /* determinando quantas colunas terá nossa grade */
	grid-gap:15px; /* adicionando espaço entre as colunas */
}

#c1 { /* divs escritas do conteúdo */
	color:white;
	padding:10px;
	background-color:#363636;
	border-radius:10px;
}

#c2 { /* divs escritas do conteúdo */
	color:white;
	padding:10px;
	background-color:#363636;
	border-radius:10px;
}

#c3 { /* divs escritas do conteúdo */
	color:white;
	padding:10px;
	background-color:#363636;
	border-radius:10px;
}
.img_conteudo {
	width:100%; /* Padronização do tamanho das imagens do conteúdo */
	height:250px;
	border-radius:10px; /* arredondando as imagens do conteúdo */
}
.p_conteudo { /* Padronização do parágrafo do conteúdo */
	text-align:justify; /* alinhamento justificado do texto */
	font-family:arial;
}

.h2_conteudo { /* Padronização do título do conteúdo */
	text-align:center;
	font-family:tahoma;
}

#galeria {
	height:250px;
	padding:20px 0 0px 0;
	display:grid; /* transformando nossa div de conteúdo em grade */
	grid-template-columns:19.5% 19.5% 19.5% 19.5% 19.5%; /* determinando quantas colunas terá nossa grade */
	grid-gap:12px; /* adicionando espaço entre as colunas */
	background-color:#FFEFD5; /*adicionando cor de fundo da galeria*/
}
.img_galeria {
	width:100%;
	height:200px;
	border-radius:20px;
}

.img_galeria:hover {
	box-shadow:0 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* adiciona uma sombra na imagem */
}

#jumbotron {
	border:1px solid black;
	text-align:center; /* centralizando o conteúdo da nossa div */
	padding:50px 300px; /* preenchimento dos lados da div */
}
.p_jumbo {/* criamos uma classe para formatar o parágrafo do jumbotron */
	font-family:calibri;
	font-size:20px;
	color:#666;
}
.button {/* criamos uma classe para formatar a tag button */
	background-color:#000080;/* cor de fundo */
	font-family:calibri; /* alterando a fonte do botão */
	width:200px; /* aumentou o comprimento do botão */
	height:50px; /* aumentou a altura do botão */
	border:none; /* tiramos a borda do botão */
	border-radius:10px; /* arredondamos o botão */
	font-size:20px; /* alterou o tamanho da fonte do botão */
	color:white; /* alterou a cor da fonte do botão */
}

.button:hover {/* quando passar o mouse sobre o botão */
	background-color:#363636;/* trocar a cor de fundo para cinza escuro */
}

#rodape {
	background-color:black; /* inserindo a cor de fundo no rodapé */
	color:white; /* transformando a cor das letras em branco */
	display:grid; /* transformar o rodapé em uma grade (tabela) */
	grid-template-columns:30% 30% 30%; /* dividindo em três colunas */
	grid-gap:1%; /* inserindo espaço entre as colunas */
	padding:20px 5%; /* preenchimento nos 4 lados do rodapé */
	font-size:20px; /* aumentando o tamanho da fonte */
}

#rodape a {
	text-decoration:none; /* tirando o sublinhado dos hiperlinks */
	color:white; /* inserindo a cor branca nos hiperlinks */
}

#rodape a:hover{
	text-decoration:underline; /* inserindo o sublinhado dos hiperlinks */
	color:white; /* inserindo a cor branca nos hiperlinks */
}